@model SSWProject.Models.ListingContract

@{
    ViewBag.Title = "Details";
}
@Html.Partial("RealEstateTemp")

<h2>Listing Contracts Details For @ViewBag.CustomerName</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agent.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.StreetAddress)
        </dd>

      
      
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSigned)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
